# Angular Dashboard

Bem-vindo ao **Angular Dashboard**! Este é um projeto de painel de controle construído com Angular, que demonstra a criação de um dashboard responsivo e interativo, ideal para visualização e análise de dados.

## Tecnologias Utilizadas

Este projeto foi desenvolvido utilizando as seguintes tecnologias:

- **Angular 19**: Framework front-end robusto para construção de aplicações web.
- **TypeScript**: Linguagem que adiciona tipagem estática ao JavaScript.
- **HTML5**: Estrutura básica da aplicação.
- **CSS3**: Estilização da interface.
- **RxJS**: Biblioteca para programação reativa com observables.
- **Angular Material**: Componentes de UI que seguem as diretrizes do Material Design.

## Funcionalidades

O Angular Dashboard oferece as seguintes funcionalidades:

- **Visualização de Dados em Tempo Real**: Monitore e visualize dados à medida que eles mudam.
- **Gráficos Interativos**: Interaja com gráficos que permitem uma melhor análise dos dados.
- **Responsividade**: A interface se adapta a diferentes tamanhos de tela, garantindo uma ótima experiência em dispositivos móveis e desktop.
- **Navegação Intuitiva**: Navegação simples e eficiente entre diferentes seções do dashboard.

## Pré-requisitos

Antes de começar, você precisa ter os seguintes softwares instalados em sua máquina:

- [Node.js](https://nodejs.org/) (v14 ou superior)
- [npm](https://www.npmjs.com/) (geralmente incluído com o Node.js)

## Instalação

Para instalar e configurar o projeto, siga os passos abaixo:

1. **Clone o repositório**

   ```bash
   git clone https://github.com/thi899/angular-dashboard.git
   cd angular-dashboard
   ```

2. **Instale as dependências**

   Execute o seguinte comando para instalar todas as dependências necessárias:

   ```bash
   npm install
   ```

## Como Executar o Projeto

Para iniciar o servidor de desenvolvimento e visualizar o projeto em seu navegador, execute:

```bash
npm start
```

O aplicativo estará disponível em `http://localhost:4200`.

## API

Para rodar o servidor mockado basta rodar usando o comando:
nodemon server/server.js


## Testes

Para executar os testes do projeto, use:

```bash
npm test
```

Os testes garantirão que todas as funcionalidades estejam funcionando conforme o esperado.

## Contribuição

Contribuições são bem-vindas! Se você deseja colaborar com este projeto, sinta-se à vontade para abrir uma issue ou enviar um pull request.

## Licença

Este projeto está sob a Licença MIT. Para mais detalhes, consulte o arquivo [LICENSE](LICENSE).

## Contato

Thiago - [thi899](https://github.com/thi899)

Link do projeto: [https://github.com/thi899/angular-dashboard](https://github.com/thi899/angular-dashboard)

---

